/* Start Common CSS */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Work Sans', sans-serif;
}

section {
    padding-top: 130px;
}
/* End Common CSS */

/* Start Header Area */
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header-logo h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.header-menu ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin-right: 35px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}
/* End Header Area */

/* Start Banner Area */
#banner {
    padding-top: 116px;
}

.banner-title {
    width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #131313;
    padding: 0 120px;
}

.banner-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    padding: 33px 0;
}

.btn {
    display: inline-block;
}

.btn a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    display: block;
}

.banner-img {
    margin-top: 50px;
}

.banner-img img {
    width: 100%;
}
/* End Banner Area */

/* Start Quick List Area */
.quick-list-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-list-images {
    width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.q-i-box {
    width: 342px;
    height: 342px;
}

.q-i-box img {
    width: 100%;
}

.quick-list-text {
    width: 537px;
}

.quick-list-text h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 52px;
    color: #727272;
}

.quick-list-text h2 span:nth-child(1) {
    color: #131313;
    font-weight: 700;
}

.quick-list-text h2 span:nth-child(2) {
    color: #FF900E;
    font-weight: 700;
}

.quick-list-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    padding: 24px 0px 32px 0px;
}
/* End Quick List Area */

/* Start Future Area */
.future-area {
    display: flex;
    justify-content: space-between;
}

.future-title {
    width: 586px;
}

.future-title h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    color: #131313;
    padding-right: 110px;
    position: relative;
}

.future-title h2::after {
    content: '';
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    position: absolute;
    top: 0;
    left: -21px;
}

.future-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    padding: 24px 0px 30px 0px;
}

.future-text-box {
    width: 556px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    padding: 30px 30px;
}

.future-text-box:last-child {
    margin-bottom: 0;
}

.future-text-box h4 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    padding-bottom: 10px;
}

.future-text-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}

.future-images {
    position: relative;
}

.experience-box {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -77px;
    left: -92px;
    border-radius: 8px;
}

.experience-box h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}

.experience-box span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
/* End Future Area */

/* Start Some Facts Area */
#some-facts .quick-list-text h2 {
    color: #131313;
}

.some-facts-box-area {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.s-f-box {
    width: 241px;
    height: 241px;
    border-radius: 8px;
    border: solid 2px #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-f-box h3 {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    padding: 10px 0px 5px 0px;
}

.s-f-box p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
/* End Some Facts Area */

/* Start Sponspors Area */
#sponspors .quick-list-text {
    text-align: center;
    margin: 0 auto;
}

#sponspors .quick-list-text h2 {
    color: #131313;
    font-weight: 700;
}

.sponspors-area {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.sponspors-item {
    width: 166px;
}
/* End Sponspors Area */

/* Start Copyright Area */
.copyright-area {
    width: 100%;
    padding: 38px 0;
    background-color: #FFF4E7;
    text-align: center;
    border-radius: 8px;
}

.copyright-area p {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}
/* End Copyright Area */