/* Start Common CSS */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
/* End Common CSS */